# Support Vector Machine




The iris dataset contains measurements for 150 iris flowers from three different species.
The three classes in the Iris dataset:
 
  * Iris-setosa (n=50)
  * Iris-versicolor (n=50)
  * Iris-virginica (n=50)
 
The four features of the Iris dataset:

* sepal length in cm
* sepal width in cm
* petal length in cm
* petal width in cm

In [ ]:
# The Iris Setosa
from IPython.display import Image
url = '/content/iris.png'
Image(url,width=800, height=500)

## ŸêDataset

Sepal length in cm
, Sepal width in cm

Petal length in cm
, Petal width in cm

Class(Output):
*   Iris Setosa(0), Iris Versicolour(1) , Iris Virginica(2)

In [ ]:
import pandas as pd 
iris_dataset = pd.read_csv('/content/Iris.csv')

In [ ]:
iris_dataset.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [ ]:
iris_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Label          150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
iris_dataset

      Id  SepalLengthCm  ...  PetalWidthCm           Label
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [ ]:
X = iris_dataset.drop(['Label'], axis=1)
X = X[['SepalLengthCm','SepalWidthCm']]
y = iris_dataset['Label']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [ ]:
X_train

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
39    40            5.1           3.4            1.5           0.2
53    54            5.5           2.3            4.0           1.3
79    80            5.7           2.6            3.5           1.0
10    11            5.4           3.7            1.5           0.2
50    51            7.0           3.2            4.7           1.4
..   ...            ...           ...            ...           ...
8      9            4.4           2.9            1.4           0.2
73    74            6.1           2.8            4.7           1.2
144  145            6.7           3.3            5.7           2.5
118  119            7.7           2.6            6.9           2.3
99   100            5.7           2.8            4.1           1.3

[120 rows x 5 columns]

In [ ]:
y_train

91     Iris-versicolor
135     Iris-virginica
69     Iris-versicolor
128     Iris-virginica
114     Iris-virginica
            ...
133     Iris-virginica
137     Iris-virginica
72     Iris-versicolor
140     Iris-virginica
37         Iris-setosa
Name: Label, Length: 120, dtype: object

In [ ]:
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder() 

y_train = label_encoder.fit_transform(y_train) 
y_test = label_encoder.fit_transform(y_test)

In [ ]:
# ['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'] -- [0, 1, 2]
y_train

array([1, 2, 1, 2, 2, 0, 1, 0, 1, 2, 2, 0, 2, 2, 1, 2, 0, 0, 0, 1, 0, 0,
       2, 2, 2, 2, 2, 1, 2, 1, 0, 2, 2, 0, 0, 2, 0, 2, 2, 1, 1, 2, 2, 0,
       1, 1, 2, 1, 2, 1, 0, 0, 0, 2, 0, 1, 2, 2, 0, 0, 1, 0, 2, 1, 2, 2,
       1, 2, 2, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 2, 2, 2, 0, 0, 1, 0, 2, 0,
       2, 2, 0, 2, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 2, 0,
       0, 2, 1, 2, 1, 2, 2, 1, 2, 0])

In [ ]:
from sklearn.svm import SVC

In [ ]:
svm_model = SVC()

In [ ]:
svm_model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
X_test

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
14    15            5.8           4.0            1.2           0.2
98    99            5.1           2.5            3.0           1.1
75    76            6.6           3.0            4.4           1.4
16    17            5.4           3.9            1.3           0.4
131  132            7.9           3.8            6.4           2.0
56    57            6.3           3.3            4.7           1.6
141  142            6.9           3.1            5.1           2.3
44    45            5.1           3.8            1.9           0.4
29    30            4.7           3.2            1.6           0.2
120  121            6.9           3.2            5.7           2.3
94    95            5.6           2.7            4.2           1.3
5      6            5.4           3.9            1.7           0.4
102  103            7.1           3.0            5.9           2.1
51    52            6.4           3.2            4.5           1.5
78    79            6.0           2.9            4.5           1.5
42    43            4.4           3.2            1.3           0.2
92    93            5.8           2.6            4.0           1.2
66    67            5.6           3.0            4.5           1.5
31    32            5.4           3.4            1.5           0.4
35    36            5.0           3.2            1.2           0.2
90    91            5.5           2.6            4.4           1.2
84    85            5.4           3.0            4.5           1.5
77    78            6.7           3.0            5.0           1.7
40    41            5.0           3.5            1.3           0.3
125  126            7.2           3.2            6.0           1.8
99   100            5.7           2.8            4.1           1.3
33    34            5.5           4.2            1.4           0.2
19    20            5.1           3.8            1.5           0.3
73    74            6.1           2.8            4.7           1.2
146  147            6.3           2.5            5.0           1.9

In [ ]:
predict = svm_model.predict(X_test)

In [ ]:
from sklearn.metrics import accuracy_score

In [ ]:
predict

array([0, 1, 2, 0, 2, 2, 2, 0, 0, 2, 1, 0, 2, 2, 1, 0, 1, 1, 0, 0, 1, 1,
       2, 0, 2, 1, 0, 0, 2, 2])

In [ ]:
y_test

array([0, 1, 1, 0, 2, 1, 2, 0, 0, 2, 1, 0, 2, 1, 1, 0, 1, 1, 0, 0, 1, 1,
       1, 0, 2, 1, 0, 0, 1, 2])

In [ ]:
accuracy_score(predict, y_test)

0.9333333333333333

In [ ]:
label_encoder.inverse_transform(predict)

array(['Iris-setosa', 'Iris-virginica', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-versicolor', 'Iris-virginica',
       'Iris-setosa', 'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-setosa', 'Iris-virginica', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-setosa', 'Iris-setosa', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-setosa',
       'Iris-virginica', 'Iris-virginica', 'Iris-setosa', 'Iris-setosa',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)